mat-card {
  // width: 80%;
  max-width: 80%;
}

.app-name {
  font-size: 20px;
}

.info {
  width: 100%;
  text-align: center;
  p {
    letter-spacing: 0.1em;
    text-indent: 0;
    line-height: 15pt;
  }
  video {
    width: 78%;
  }
}