@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'theme.scss';

html, body {
  background: transparent;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  box-sizing: border-box;
  &:focus {
    outline: 0;
  }
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 1em 6px 1em 0;
}

mat-card-content{
  overflow: auto;
  max-height: 100%;
}

div.card-title{
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 8px;
}

.mat-card{
  display: flex !important;
  flex-direction: column;
  max-height: 100%;
}

div.floating-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

table.selectable-row {
  tbody {
    tr {
      cursor: pointer;
      &:hover, &.active {
        background-color: rgb(247,247,247);
      }
    }
  }
}

/* You will be forced to separate it from the mat progress bar logic */
mat-progress-bar.white .mat-progress-bar-fill::after{
  background-color: white;
}

mat-progress-bar.white {
  .mat-progress-bar-buffer {
    background-color: #585858;
  }
}

mat-form-field.select-search-input {
  padding: 16px 16px 0 16px;
  width: 100%;
}

div.mat-dialog-actions {
  place-content: center flex-end;
}

div.photo-preview {
  text-align: center;
  > img {
    max-width: 200px;
  }
}

// Custom styles

div.wrapper {
  width: 100%;
  height: 95%;
  background: linear-gradient(to bottom, rgb(96, 161, 235), rgba(172, 215, 250, 0.4) 87%, rgba(white, .5));
}

mat-card {
  box-shadow: 0 2px 30px rgba(black, .2) !important;
}

p {
  letter-spacing: 0.2em;
  text-indent: 0.3em;
}

.option {
  color: white;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  vertical-align: middle;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.4em !important;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
  z-index: 1;
  font-weight: normal !important;
  &.header {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
  }
}


.mat-progress-spinner circle, .mat-spinner circle {
  stroke: white;
}

.go-back-button {
  cursor: pointer;
  color: #333;
  margin-bottom: 20px;
}

button {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

div.button {
  cursor: pointer;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  p {
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
  }
  &:hover {
    background: #fafafa;
  }
}

.page-title {
  font-size: 22px;
  text-align: center;
}

mat-icon.checked {
  color: green;
}

mat-icon.warning {
  color: orange;
}