<div fxLayout="column" fxLayoutGap="10px" class="wrapper">
  <mat-toolbar fxFlex="10">
    <mat-toolbar-row fxFlex>
      <span class='title' fxFlex>{{ title }}</span>
      <span class="toolbar-spacer"></span>
      <span class='option' fxFlex><p>{{ toolbarFullName }}</p></span>
      <mat-icon aria-hidden="false" aria-label="Cerrar sesión" (click)="logout()">logout</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  <ng-template [ngIf]="!isLoading" [ngIfElse]="loading">
    <app-period-selector *ngIf="!schedule" [fullName]="fullName" [schedulePeriods]="schedulePeriods"
      (optionSelected)="getSchedule($event)" fxFlex></app-period-selector>
    <app-schedule *ngIf="schedule" [fullName]="fullName" [schedule]="schedule" (periodSelector)="periodSelector()" fxFlex></app-schedule>
  </ng-template>
  <ng-template #loading>
    <div fxLayoutAlign="center center" fxFlex>
      <mat-spinner ></mat-spinner>
    </div>
  </ng-template>
</div>