<div
  fxLayout="row"
  fxLayoutAlign="center center"
  fxLayoutGap="5px"
  class="wrapper"
>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="100"
    class="banner"
  >
    <h2>Hasta pronto</h2>
    <p>
      Lamentamos informarte que esta aplicación ha dejado de funcionar debido a
      cambios de seguridad implementados por la Universidad.
    </p>
    <p>
      Te invitamos a acceder a tu horario a través de la aplicación oficial
      disponible
      <a href="https://apps.apple.com/de/app/uninorteco/id6499095907">aquí</a>.
    </p>
  </div>
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="5px"
    class="container"
    fxFlex
  >
    <h1 class="app-name" fxFlex="30">{{ title }}</h1>
    <div fxLayout="column" fxLayoutGap="5px" class="features" fxFlex="40">
      <div fxLayout="row">
        <mat-icon>palette</mat-icon>
        <p>Personaliza tu horario Uninorte.</p>
      </div>
      <div fxLayout="row">
        <mat-icon>sync</mat-icon>
        <p>Sincronízalo con Google Calendar.</p>
      </div>
      <div fxLayout="row">
        <mat-icon>alarm</mat-icon>
        <p>Recibe notificaciones.</p>
      </div>
      <div fxLayout="row">
        <mat-icon>done_all</mat-icon>
        <p #counter class="counter"></p>
        <p>horarios fueron exportados.</p>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="10">
      <div
        fxLayout="row"
        fxLayoutAlign="center center"
        class="button disabled"
        routerLink="/login"
      >
        <p>Entrar</p>
        <mat-icon>arrow_right_alt</mat-icon>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxHide.lt-md fxFlex="50">
    <img
      src="/assets/screens.svg"
      width="500"
      height="200"
      alt="Mi horario screens"
    />
  </div>
</div>
