mat-card {
  max-width: 70%;
  max-height: 90%;
}

.info {
  overflow-x: auto;
  padding: 16px;
  text-align: center;
  p {
    text-align: left;
    letter-spacing: 0.1em;
    text-indent: 0;
    line-height: 15pt;
  }
  img {
    margin-bottom: 20px;
  }
}