<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" class="wrapper">
    <span fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="title page-title" fxFlex="10">
      Política de privacidad
    </span>
    <div fxLayout="column" fxLayoutAlign="start center" class="container" fxFlex="70">
      <mat-card>
        <span matTooltip="Ir atrás" aria-label="Ir a la página anterior" class="go-back-button" fxLayoutAlign="start center" routerLink="/home">
          <mat-icon fxLayoutAlign="center center">arrow_back</mat-icon>
        </span>
        <mat-card-content class="info">
          <p>
            Mi horario UN es una aplicación de código abierto sin ánimo de lucro con licencia GNU General Public License v3.0
            (<a href="https://github.com/sjdonado/mihorario/blob/master/LICENSE" target="_blank">Más información</a>).
          </p>
          <p>
            El código fuente de Mi horario UN está alojado en Github y es de libre acceso <a href="https://github.com/sjdonado/mihorario" target="_blank">https://github.com/sjdonado/mihorario.</a>
          </p>
          <p>Mi horario UN NO está asociado directamente con la Universidad del Norte y accede a la información del usuario a través de canales oficiales con las credenciales del usuario.</p>
          <p>Mi horario UN hace uso de una arquitectura serverless (reduce costos de operación). Para la comunicación entre el cliente y AWS se emplea autentificación por
            <a href="https://jwt.io/" target="_blank">JWT</a> con expiración por cada 24 horas. Cada lambda function está protegida con CORS
            (<a href="https://www.npmjs.com/package/cors" target="_blank">más información</a>).</p>
          <p>Mi horario UN NO almacena información del usuario en el servidor, no posee base de datos y es desplegada <a href="https://github.com/sjdonado/mihorario/actions" target="_blank">automáticamente</a> con Github Actions.</p>
          <p>Mi horario UN almacena el token de autenticación del usuario en el navegador a través de cookies con tiempo de expiración de 24 horas, al usuario cerrar sesión TODA su información es eliminada inmediatamente.</p>
          <p>Mi horario UN necesita la autorización del usuario para poder ver, modificar y crear eventos en su calendario de google (scope: https://www.googleapis.com/auth/calendar.events <a href="https://developers.google.com/calendar/auth" target="_blank">más información</a>),
            los cuales son creados o editados ÚNICAMENTE si este está relacionado por el nombre con alguna materia del horario del usuario para el periodo seleccionado por el mismo.</p>
          <p>Mi horario UN NO hace uso de cookies para almacenar información distinta a la ingresada por el usuario.</p>
          <p>Como estudiantes tenemos la oportunidad de proponer cambios, de servir a la sociedad, una línea de código a la vez.</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
