<div fxLayout="column" fxLayoutAlign="center" class="wrapper">
  <mat-card>
    <div class="card-header" fxLayout="row" fxFlex="6">
      <div fxHide.gt-xs fxFlex>
        <span [matMenuTriggerFor]="menu"class="option card-header" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
          <p>Opciones</p><mat-icon matSuffix>arrow_drop_down</mat-icon>
        </span>
        <mat-menu #menu="matMenu" fxLayout="row" fxFlex>
          <button mat-menu-item *ngFor="let linkOption of linksOptions"
            routerLink="{{ linkOption.link }}">
            {{ linkOption.title }}
          </button>
          <button mat-menu-item *ngFor="let clickOption of clicksOptions" (click)="clickOption.click()" disabled>
            {{ clickOption.title }}
          </button>
          <button mat-menu-item (click)="toggleView()">
            {{ isLocationView ? 'Ver nombres' : 'Ver lugares' }}
          </button>
        </mat-menu>
      </div>
      <div fxHide.lt-sm fxFlex>
        <span *ngFor="let linkOption of linksOptions" class="option" fxLayout="row"
          fxLayoutAlign="center center" routerLink="{{ linkOption.link }}" fxFlex>
          <p>{{ linkOption.title }}</p><mat-icon matSuffix>{{ linkOption.icon }}</mat-icon>
        </span>
        <span *ngFor="let clickOption of clicksOptions" class="option" fxLayout="row" fxLayoutAlign="center center"
          (click)="clickOption.click()" fxFlex>
          <p>{{ clickOption.title }}</p><mat-icon matSuffix>{{ clickOption.icon }}</mat-icon>
        </span>
        <span class="option" fxLayout="row" fxLayoutAlign="center center" (click)="toggleView()" fxFlex>
          <p>Ver lugares</p><mat-icon matSuffix>{{ isLocationView ? 'toggle_on' : 'toggle_off' }}</mat-icon>
        </span>
      </div>
    </div>
    <mat-card-content>
      <div id="scheduleDiv" class="table-container" role="table" aria-label="Horario">
        <div class="flex-table header" role="rowgroup">
          <div class="flex-row first hour" role="columnheader"><p>HORA</p></div>
          <div class="flex-row" role="columnheader" *ngFor="let day of [].constructor(6); let i = index">
            <ng-template [ngIf]="i < 5" [ngIfElse]="saturdaySundayHeader">
              <p>{{ days[i] }}</p>
            </ng-template>
            <ng-template #saturdaySundayHeader>
              <div fxLayout="row">
                <div class="flex-text-left" fxFlex="50">
                  <p>{{ days[5] }}</p>
                </div>
                <div class="flex-text" fxFlex="50">
                  <p>{{ days[6] }}</p>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
        <div class="flex-table row" role="rowgroup" *ngFor="let hour of [].constructor(14); let i = index">
          <div class="flex-row first hour" role="cell"><p>{{ i + 6 }}:30-{{ i + 7 }}:29</p></div>
          <div class="flex-row" role="cell" *ngFor="let subject of [].constructor(6); let j = index"
            (click)="openSubjectDetailsDialog(schedule[i][j])" [ngStyle]="{'background': getSubjectStyle(schedule[i][j]).color.background }">
            <ng-template [ngIf]="j < 5" [ngIfElse]="saturdaySunday">
              <p [ngStyle]="{'color': getSubjectStyle(schedule[i][j]).color.foreground }">
                {{ schedule[i][j] ? (isLocationView ? schedule[i][j].place : schedule[i][j].shortName) : '&#8203;' }}
              </p>
            </ng-template>
            <ng-template #saturdaySunday>
              <div fxLayout="row">
                <div class="flex-text-left" [ngStyle]="{ 'background': getSubjectStyle(schedule[i][j]).color.background }" fxFlex="50">
                  <p [ngStyle]="{'color': getSubjectStyle(schedule[i][j]).color.foreground }"
                    (click)="openSubjectDetailsDialog(schedule[i][j])" >{{ schedule[i][j] ? (isLocationView ? schedule[i][j].place :  schedule[i][j].shortName) : '&#8203;' }}</p>
                </div>
                <div class="flex-text" [ngStyle]="{ 'background': getSubjectStyle(schedule[i][6]).color.background }" fxFlex="50">
                  <p [ngStyle]="{'color': getSubjectStyle(schedule[i][6]).color.foreground }"
                    (click)="openSubjectDetailsDialog(schedule[i][6])">{{ schedule[i][6] ?  (isLocationView ? schedule[i][6].place : schedule[i][6].shortName) : '&#8203;' }}</p>
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>