$table-border: rgb(221, 221, 221);
$text-color: #333;
$row-bg: #f6f6f6;

.wrapper {
  display: block;
  margin: auto;
  width: 95%;
  height: 95%;
  background: transparent;
  span {
    color: $text-color;
  }
}

.card-header {
  font-size: 12px;
  margin-bottom: 10px;
}

.option {
  cursor: pointer;
  mat-icon {
    margin-left: 2px;
  }
}

.table-container {
  display: table;
  width: 100%;
  margin: auto;
  font-size: 0.76em;
}

.flag-icon {
  margin-right: 0.1em;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-left: solid 1px $table-border;
  transition: 0.5s;
  &:first-of-type {
    border-top: solid 1px $table-border;
    border-left: solid 1px $table-border;
  }
  &:first-of-type .flex-row {
    background: transparent;
    color: $text-color;
    border-color: $table-border;
  }
  &.row:nth-child(even) .flex-row {
    background: $row-bg;
  }
}

.flex-row {
  width: calc(106.62% / 7);
  margin: auto;
  text-align: center;
  vertical-align: middle;
  background: white;
  border-right: solid 1px $table-border;
  border-bottom: solid 1px $table-border;
  p {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.flex-text {
  cursor: pointer;
  padding: 0 2px;
  &-left {
    border-right: 1px solid $table-border;
  }
}

.hour {
  font-weight: bold;
  width: calc(60% / 7);
}

.header {
  font-weight: bold;
}

.rowspan {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  padding: 0;
  .flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: solid 1px $table-border;
  }
}

.flex-cell {
  width: calc(100% / 6); //1px = border right
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px $table-border;
}

@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 3); //1px = border right
    border-bottom: solid 1px $table-border;
    &.first {
      width: 100%;
      // border-top: solid 1px $table-border;
    }
  }
  .column {
    width: 100%;
  }
}

@media all and (max-width: 430px) {
  .flex-table {
    .flex-row:last-of-type {
      border-bottom: solid 1px $table-border;
    }
  }
  .header {
    .flex-row {
      border-bottom: solid 1px;
    }
  }
  .flex-row {
    width: 100%; //1px = border right

   &.first {
     width: 100%;
     border-bottom: solid 1px $table-border;
   }
  }
  .column {
    width: 100%;
    .flex-row {
      border-bottom: solid 1px $table-border;
    }
  }
  .flex-cell {
    width: 100%; //1px = border right
  }
}