<h1 mat-dialog-title>{{ subject.name }}</h1>
<div mat-dialog-content>
  <div *ngIf="subject.googleSynced" fxLayout="row" fxLayoutAlign="start center">
    <mat-icon class="checked">check_circle</mat-icon>
    <p>Sincronizado con el calendario de Google</p>
  </div>
  <div *ngIf="data.editor" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <div class="color-picker" (click)="toggleColorPicker()" fxLayout="row" fxLayoutAlign="center center" fxFlex="10"
      matTooltip="Seleccionar color" aria-label="Botón que despliega menú con colores">
      <span [ngStyle]="{'background': subjectEventColor.background}"></span>
      <mat-icon matSuffix>arrow_drop_down</mat-icon>
    </div>
    <mat-form-field fxFlex>
      <mat-label>Tiempo de notificación</mat-label>
      <mat-select [(value)]="subjectNotificationTime">
        <mat-option *ngFor="let notificationTime of notificationTimeOptions" [value]="notificationTime.value">
          {{ notificationTime.text }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <color-github *ngIf="isVisibleColorPicker" [color]="subjectEventColor.background" [colors]="eventColors" width="312" 
    (onChangeComplete)="colorPicker($event)"></color-github>
  <span fxLayout="row" fxLayoutAlign="start center">
    <mat-icon matSuffix>label</mat-icon><p>NRC: {{ subject.nrc }}</p>
  </span>
  <span fxLayout="row" fxLayoutAlign="start center">
    <mat-icon matSuffix>access_time</mat-icon><p>{{ subject.start }} - {{ subject.end }}</p>
  </span>
  <span fxLayout="row" fxLayoutAlign="start center">
    <mat-icon matSuffix>place</mat-icon><p>{{ subject.place }}</p>
  </span>
  <span fxLayout="row" fxLayoutAlign="start center">
    <mat-icon matSuffix>info</mat-icon><p>{{ subject.type }}</p>
  </span>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cerrar</button>
  <button *ngIf="data.editor" mat-button color="primary" [mat-dialog-close]="subjectDetailsData">Guardar</button>
</div>