h1, button {
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

p {
  font-size: 14px;
  letter-spacing: 0.1em;
}

button.close {
  background-color: transparent;
  border-radius: 50%;
}

.color-picker {
  cursor: pointer;
  width: 58px;
  height: 42px;
  background: whitesmoke;
  border-radius: 4px;
  padding: 2.5px 0px 2.5px 5px;

  span {
    display: block;
    border-radius: 4px;
    width: 80%;
    height: 80%;
  }

  mat-icon {
    color: grey;
  }
}