<router-outlet ></router-outlet>
<footer fxLayout="row" fxLayoutAlign="center center">
  <p class="link" routerLink="/help">Ayuda</p>
  <p>|</p>
  <p class="link" routerLink="/privacy-policy">Política de privacidad</p>
  <p>|</p>
  <p><a href="https://uptime.sjdonado.de/status/apps" target="_blank" aria-label="Estado de la aplicación" rel="noopener">Estado de la aplicación</a></p>
  <p>|</p>
  <p><a href="https://github.com/sjdonado/mihorario" target="_blank" aria-label="Código fuente" rel="noopener">Código fuente</a></p>
</footer>
