mat-card-content {
  margin: 40px 20px !important;
}

mat-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.app-name {
  font-size: 22px;
}

input {
  letter-spacing: 0.1em;
}

.login-info, .home-link {
  font-size: 0.9em;
  text-align: center;
  letter-spacing: 0.1em;
}

.home-link {
  cursor: pointer;
  color: #1e88e5;
  margin-top: 12px !important;
  &:hover {
    text-decoration: underline;
  }
}
