<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="5px" class="wrapper">
  <h1 fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px" class="app-name" fxFlex="30">
    {{ title }}
  </h1>
  <div fxLayout="column" fxLayoutAlign="start center" fxFlex="70">
    <mat-card>
      <mat-progress-bar *ngIf=isLoading mode="indeterminate"></mat-progress-bar>
      <mat-card-content>
        <form fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" [formGroup]="getFormGroup" (ngSubmit)="login()">
          <mat-form-field appearance="outline">
            <mat-label>Usuario uninorte</mat-label>
            <mat-icon matSuffix>perm_identity</mat-icon>
            <input matInput placeholder="miusuario" formControlName="username">
            <mat-error *ngIf="getFormGroup.controls.username.hasError('required')">
              El usuario es <strong>requerido</strong>
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-icon matSuffix>lock</mat-icon>
            <mat-error *ngIf="getFormGroup.controls.password.hasError('required')">
              La contraseña es <strong>requerida</strong>
            </mat-error>
          </mat-form-field>
          <button mat-button color="primary" [disabled]="!getFormGroup.valid || isLoading">Iniciar sesión</button>
          <span class="home-link" routerLink="/">Inicio</span>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
