<div fxLayout="column" fxLayoutGap="10px" fxFlexFill>
  <ng-template [ngIf]="!isLoading" [ngIfElse]="loading">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="40">
      <h1 class="header" fxLayoutAlign="center center">
        Hola, {{ name }}
      </h1>
      <h1 class="select-title" fxLayoutAlign="center center">
        Selecciona un periodo
      </h1>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="30">
      <mat-card>
        <mat-card-content>
          <span *ngIf="showGoBackButton" class="go-back-button" fxLayoutAlign="start center" routerLink="..">
            <mat-icon fxLayoutAlign="center center">arrow_back</mat-icon>
          </span>
          <form [formGroup]="getFormGroup" (ngSubmit)="getSchedule()" fxLayout="column">
            <mat-form-field>
              <mat-label>Periodo académico</mat-label>
              <mat-select formControlName="termId">
                <mat-option *ngFor="let term of terms" [value]="term.id">
                  {{ term.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-stroked-button color="primary" [disabled]="!getFormGroup.valid">Continuar</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
  <ng-template #loading>
    <div fxLayoutAlign="center center" fxFlex>
      <mat-spinner ></mat-spinner>
    </div>
  </ng-template>
</div>
