extends ../layout.jade

block content
  div(class="exit-btn uk-position-top-right")
    a(href="/auth/logout")
      #[span(uk-icon="icon: close;")] Salir
  div(
      class="uk-height-viewport uk-background-cover uk-background-center uk-background-blend-multiply" 
      style="background-color: #838383;background-image: url(https://source.unsplash.com/collection/252265/1400x800)"
    )
  div(class="uk-width-1-4@m uk-width-1-3@s uk-width-5-6 uk-position-center")
    .uk-text-center
      h2.listo-txt.white ¡Listo!
      h5.white Tu horario ha sido sincronizado correctamente
      