:host {
  display: block;
  position: relative;
  height: 100%;
}

.credits {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  margin: 0;
  margin-right: 10px;
  font-size: 10px;
  text-align: right;
  color: #333;
  a:link {
    color: #333;
    font-weight: 500;
    text-decoration: none;
  }
  a:visited {
    color: #333;
    text-decoration: none;
  }
  a:hover {
    color: #333;
    text-decoration: underline;
  }
  a:active {
    color: #333;
  }
}