<div fxLayout="column" class="wrapper">
  <mat-card fxFlex>
    <div class="card-header" fxLayout="row" fxFlex="6">
      <div fxHide.gt-xs fxFlex>
        <span [matMenuTriggerFor]="menu"class="option card-header" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
          <p>Opciones</p><mat-icon matSuffix>arrow_drop_down</mat-icon>
        </span>
        <mat-menu #menu="matMenu" fxLayout="row" fxFlex>
          <button mat-menu-item *ngFor="let scheduleOption of scheduleOptions; let i = index" routerLink="{{ scheduleOption.link }}">
            {{ scheduleOption.title }}
          </button>
        </mat-menu>
      </div>
      <div fxHide.lt-sm fxFlex>
        <span *ngFor="let scheduleOption of scheduleOptions; let i = index" class="option" fxLayout="row" fxLayoutAlign="center center"
          routerLink="{{ scheduleOption.link }}" fxFlex>
          <p>{{ scheduleOption.title }}</p><mat-icon matSuffix>{{ scheduleOption.icon }}</mat-icon>
        </span>
      </div>
    </div>
    <mat-card-content fxFlex>
      <div class="table-container" role="table" aria-label="Horario">
        <div class="flex-table header" role="rowgroup">
          <div class="flex-row first hour" role="columnheader"><p>HORA</p></div>
          <div class="flex-row" role="columnheader" *ngFor="let day of [].constructor(6); let i = index"><p>{{ days[i] }}</p></div>
        </div>
        <div class="flex-table row" role="rowgroup" *ngFor="let hour of schedule; let i = index">
          <div class="flex-row first hour" role="cell"><p>{{ i + 6 }}:30-{{ i + 7 }}:29</p></div>
          <div class="flex-row" role="cell" *ngFor="let subject of hour" (click)="openSubjectDetailsDialog(subject)" [ngStyle]="{'background': subject && subject.color ? subject.color : 'transparent'}"><p [ngStyle]="{'color': subject && subject.textColor ? subject.textColor : 'black'}">{{ subject ? subject.shortName : '&#8203;' }}</p></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
  