<div fxLayout="column" class="wrapper">
  <mat-card fxFlex>
    <div class="card-header" fxLayout="row" fxFlex="6">
      <span class="option card-header" fxLayout="row" fxLayoutAlign="center center" (click)="options.toggle()" fxHide.gt-xs fxFlex><p>Opciones</p><mat-icon matSuffix>arrow_drop_down</mat-icon></span>
      <div #options fxHide.lt-sm fxFlex>
        <span class="option" (click)="periodSelectorEvent()" fxLayout="row" fxLayoutAlign="center center" fxFlex><p>Seleccionar periodo</p><mat-icon matSuffix>calendar_view_day</mat-icon></span>
        <span class="option" fxLayout="row" fxLayoutAlign="center center" fxFlex><p>Connectar con Google</p><mat-icon matSuffix>calendar_today</mat-icon></span>
        <span class="option" fxLayout="row" fxLayoutAlign="center center" fxFlex><p>Exportar</p><mat-icon matSuffix>share</mat-icon></span>
      </div>
    </div>
    <mat-card-content fxFlex>
      <div class="table-container" role="table" aria-label="Horario">
        <div class="flex-table header" role="rowgroup">
          <div class="flex-row first hour" role="columnheader"><p>HORA</p></div>
          <div class="flex-row" role="columnheader" *ngFor="let day of [].constructor(6); let i = index"><p>{{ days[i] }}</p></div>
        </div>
        <div class="flex-table row" role="rowgroup" *ngFor="let hour of schedule; let i = index">
          <div class="flex-row first hour" role="cell"><p>{{ i + 6 }}:30 - {{ i + 7 }}:30</p></div>
          <div class="flex-row" ngClass.gt-xs="subject" role="cell" *ngFor="let subject of hour"><p>{{ subject ? subject.shortName : '&#8203;' }}</p></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
  