$table-header: rgb(64, 133, 202);
$table-border: rgba(0,0,0,.87);
$text-color: $table-border;
$row-bg: #f4f2f1;

.wrapper {
  display: block;
  margin: auto;
  width: 95%;
  height: 95%;
  background: transparent;
  mat-card-header {
    font-size: 14px;
    margin-bottom: 10px;
  }
  span {
    color: $text-color;
  }
}

.card-header {
  margin-bottom: 10px;
}

.option {
  cursor: pointer;
  mat-icon {
    margin-left: 2px;
  }
}

.table-container {
  display: block;
  margin: auto;
  font-size: 12px;
}

.flag-icon {
  margin-right: 0.1em;
}

.flex-table {
  display: flex;
  flex-flow: row wrap;
  border-left: solid 1px $table-border;
  transition: 0.5s;
  &:first-of-type {
    border-top: solid 1px $table-border;
    border-left: solid 1px $table-border;
  }
  &:first-of-type .flex-row {
    background: transparent;
    color: $text-color;
    border-color: $table-border;
  }
  &.row:nth-child(odd) .flex-row {
    background: $row-bg;
  }
  // &:hover {
  //   background: #F5F5F5;
  //   transition: 500ms;
  // }
}

.flex-row {
  width: calc(100% / 7);
  margin: auto;
  text-align: center;
  vertical-align: middle;
  background: white;
  border-right: solid 1px $table-border;
  border-bottom: solid 1px $table-border;
  p {
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.subject {
  font-size: 0.73em;
  letter-spacing: 0.1em;
  padding: 0.6em;
}

// .hour {
//   width: calc(50% / 8);
// }

.rowspan {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: center;
}

.column {
  display: flex;
  flex-flow: column wrap;
  width: 75%;
  padding: 0;
  .flex-row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 0;
    border: 0;
    border-bottom: solid 1px $table-border;
    // &:hover {
    //   background: #F5F5F5;
    //   transition: 500ms;
    // }
  }
}

.flex-cell {
  width: calc(100% / 6); //1px = border right
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px $table-border;
  // flex: 1 1 33.3%;
  // &:last-child {
  //   border-right: 0;
  // }
}

@media all and (max-width: 767px) {
  .flex-row {
    width: calc(100% / 3); //1px = border right
    border-bottom: solid 1px $table-border;
    &.first {
      width: 100%;
      // border-top: solid 1px $table-border;
    }
    // &:last-child {
    //   // border-left: solid 1px $table-border;
    //   border-bottom: 0;
    // }
  }
  .column {
    width: 100%;
  }
}

@media all and (max-width: 430px) {
  .flex-table {
    // .flex-row {
    //   border-bottom: 0;
    // }
    .flex-row:last-of-type {
      border-bottom: solid 1px $table-border;
    }
  }
  .header {
    .flex-row {
      border-bottom: solid 1px;
    }
  }
  .flex-row {
    width: 100%; //1px = border right
    
   &.first {
     width: 100%;
     border-bottom: solid 1px $table-border;
   }
  }
  .column {
    width: 100%;
    .flex-row {
      border-bottom: solid 1px $table-border;
    }
  }
  .flex-cell {
    width: 100%; //1px = border right
  }
}